@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'BookkMyungjo-Bd';
}


@font-face {
  font-family: 'BookkMyungjo-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 예: globals.css, 또는 module.css 등에서 */

.fill-by-height {
  width: auto;
  height: 100vh;
  object-fit: cover;
}

.fill-by-width {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

/* 가로가 더 긴 환경에서 fill-by-height 사용 */
@media (min-aspect-ratio: 1/1) {
  .responsive-image {
    composes: fill-by-height;
  }
}

/* 세로가 더 긴 환경에서는 fill-by-width */
@media (max-aspect-ratio: 1/1) {
  .responsive-image {
    composes: fill-by-width;
  }
}

